/* Estilos gerais */
*{
  box-sizing: border-box;
  font-family: Shanti;
}

/* Estilos do body */
body{
  justify-content: center;
  background: #094493
}


.header{
  width: 25%;
  justify-content: left;
}

/* Estilos do conteúdo principal */
.container{
  width: 95%;
  padding: 0 30px 30px 30px;
  background: #ffffff;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.wrapper{
  border-radius: 10px;
  border: 3px solid #bdd5ff;
}

.wrapper .text-input{
  display: flex;
  border-bottom: 3px solid #bdd5ff;
}
.text-input .to-text{
  border-radius: 0px;
  border-left: 3px solid #bdd5ff;
  background-color: #bdd5ff;
}

.text-input textarea{
  min-height: 45vh;
  width: 96%;
  border: none;
  outline: none;
  resize: none;
  background: #fafafa;
  font-size: 24px;
  padding: 10px 10px;
  border-radius: 5px;
}

.controls, li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls{
  list-style: none;
  padding: 5px 35px;
  height: 25px;
}

.controls .row select{
  border: none;
  font-size: 24px;
}

.tool {
  font-size: 25px;
  padding: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  background: #bdd5ff;
  width: 115%;
}

.main-button {
  margin-top: 20px;
  font-size: 40px;
  width: 100%;
  padding: 14px;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  background: #0376E2
}