<html>

<head>
  <meta charset="UTF-8">
  <title>Traduzo - Trybe</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
  <div class="container">
    <img src="{{ url_for('static', filename='images/logo.png') }}" class="header">
    <div class="wrapper">
      <form method="post">
        <div class="text-input">
          <textarea name="text-to-translate" spellcheck="false" class="from-text"
            placeholder="{{ 'text-to-translate' }}">{{ text_to_translate }}</textarea>
          <textarea spellcheck="false" readonly disabled class="to-text">{{ translated }}</textarea>
        </div>
        <ul class="controls">
          <li class="row from">
            <select name="translate-from">
              {% for language in languages %}
              <option value="{{ language['acronym']}}" {% if language['acronym']==translate_from %}selected{% endif %}>
                {{ language['name'].upper() }}

              </option>
              {% endfor %}
            </select>
          </li>
          <div>
            <button class="tool" type="submit" formaction="/reverse">🔁</button>
          </div>
          <li class="row to">
            <select name="translate-to">
              {% for language in languages %}
              <option value="{{language['acronym']}}" {% if language['acronym']==translate_to %}selected{% endif %}>
                {{ language['name'].upper() }}
              </option>
              {% endfor %}
            </select>
          </li>
        </ul>
    </div>
    <button class="main-button" type="submit" formaction="/">Traduzir</button>
    </form>
  </div>
</body>

</html>